@tailwind base;
@tailwind components;
@tailwind utilities;



/* Colores personalizados para el proyecto */
:root {
    --color-primary-blue: #016ffe;
    --color-accent-yellow: #fed800;
    --color-accent-green: #00fec3;
    --color-dark: #000023;
    --color-success-green: #25d366;
}

/* Clases de utilidad para acceder a estos colores */
@layer utilities {


    /* Backgrounds */
    .bg-primary-blue {
        background-color: var(--color-primary-blue);
    }

    .text-primary-blue {
        color: var(--color-primary-blue);
    }

    .bg-accent-yellow {
        background-color: var(--color-accent-yellow);
    }

    .text-accent-yellow {
        color: var(--color-accent-yellow);
    }

    .bg-accent-green {
        background-color: var(--color-accent-green);
    }


    /* Text */
    .text-accent-green {
        color: var(--color-accent-green);
    }

    .bg-dark {
        background-color: var(--color-dark);
    }

    .text-dark {
        color: var(--color-dark);
    }

    .bg-success-green {
        background-color: var(--color-success-green);
    }

    .text-success-green {
        color: var(--color-success-green);
    }

    /* Animations */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 5));
            /* Ajustar según el ancho de las imágenes y la cantidad */
        }
    }

    .companies-carousel {
        animation: scroll 30s linear infinite;
    }

    .companies-carousel:hover {
        animation-play-state: paused;
    }

    @keyframes scale {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .animate-scale {
        animation: scale 15s ease-in-out infinite alternate;
    }

    .animate-fade-in-up {
        animation: fadeInUp 0.8s ease-out forwards;
    }

    .animate-fade-in-right {
        animation: fadeInRight 0.8s ease-out forwards;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(20px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .animate-marquee {
        animation: marquee 30s linear infinite;
    }

    @keyframes ping-slow {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        75%,
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    .animate-ping-slow {
        animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    }


    /* Estilos para el asistente virtual */

    .chat-container {
        background-image: url('/images/nodo-pattern-light.png');
        background-repeat: repeat;
        background-size: 300px;
        background-opacity: 0.1;
    }

    .primary-blue {
        --tw-text-opacity: 1;
        color: rgba(59, 130, 246, var(--tw-text-opacity));
    }

    .bg-primary-blue {
        --tw-bg-opacity: 1;
        background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
    }

    /* Animación para el botón del asistente */
    @keyframes pulse-ring {
        0% {
            transform: scale(.85);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(.85);
        }
    }

    .animate-pulse-ring {
        animation: pulse-ring 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
}